<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MLIM GPT-Generated Blog Entry</title>
    </head>
    <body>
        <p>
        {% autoescape false %}
        {{ post | replace('\n', '<br />') }}
        {% endautoescape %}
        </p>
    </body>
</html>